/* SEARCH BAR */

.searchContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.searchContainer input[type=text] {
  flex: 1;
  min-width: 0;
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  border-right: none;
  background: #F5F5F5;
  outline: none;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.searchContainer button {
  padding: 10px;
  border: 1px solid black;
  border-left: none;
  background: #F5F5F5;
  cursor: pointer;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.searchContainer button:hover {
  background: #d9d9d9;

}

/* NAVBAR */

.navbarContainer {
  display: flex;
  justify-content: space-between;
  background: #2D2D2D;
  align-items: center;
  height: 100px;
  padding: 0 50px;
  align-self: stretch;
}

.navbarContainer>button img {
  height: 60px;
  display: block;
}

.navbarContainer>button {
  background: none;
  border: none;
  outline: none;
}

