@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  margin: 0;
}

#root {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

}